gradle
logs
*.log
.gradle
.idea
.settings
.vscode
engine/.settings
engine/bin
engine/build
engine/out
engine/.classpath
engine/.project
.project
game/.settings
game/bin
game/build
game/logs
game/out
game/.classpath
game/.project
